@import "tailwindcss";


@layer base {
  :root {
 
    --font-inter: 'Inter', sans-serif;
  }

}

@layer utilities {

  .font-inter {
    font-family: var(--font-inter);
  }


  @keyframes slide-in {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .animate-slide-in {
    animation: slide-in 0.3s ease-out;
  }
}
